body {
    background-color: #29bfc7;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 10ex;
    display: flex;
    flex-direction: row;
    /*background-color: #00ffa5;*/
    text-align: center;
    font-size: 1.8em;
}

header > .titleHeader {
    flex: auto;
}

.mainContent {
    display: flex;
}

.ThemeBox {
    max-width: 10ex;
    max-height: 10ex;
    margin-right: 2ex;
}

.ToggleTheme {
    display: flex;
    justify-content: center;
    text-align: center;
}

.theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
}

input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
    display: block;
    width: 80px;
    height: 36px;
    background-color: #0953a1;
    border-radius: 23px;
    position: relative;
}

label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 1px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    transition: left 0.2s;
}

input[type="checkbox"]:checked + label {
    background-color: #29bfc7;
}

input[type="checkbox"]:checked + label:after {
    left: 48px;
}

.botonera {
    width: 60%;
    left: auto;
    margin: auto;
}

.queue {
    width: 40%;
    right: auto;
    margin: auto;
}

#directionContainer {
    display: grid;
    grid-template-rows: repeat(10, 15ex);
    justify-content: center;
    gap: 0.3em;
    margin: auto;
    font-size: medium;
}

.square {
    display: flex;
    width: 15ex;
    height: 15ex;
    border: 1px solid black;
    margin: 2px;
    text-align: center;
    line-height: 2em;
    background-color: white;
    border-radius: 30%;
}

.arrow {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.arrow::before {
    content: '';
    border-width: 0 3ex 4ex 3ex;
    border-color: transparent transparent #750505 transparent;
    width: 0;
    height: 0;
    border-style: solid;
}

.arrow.Up::before {
    border-width: 0 3em 4em 3em;
    border-color: transparent transparent #750505 transparent;
}

.arrow.Down::before {
    border-width: 4em 3em 0 3em;
    border-color: #750505 transparent transparent transparent;
}

.arrow.Left::before {
    border-width: 3em 4em 3em 0;
    border-color: transparent #750505 transparent transparent;
}

.arrow.Right::before {
    border-width: 3em 0 3em 4em;
    border-color: transparent transparent transparent #750505;
}

.arrow.square-1 { grid-area: 1 / 1; }
.arrow.square-2 { grid-area: 1 / 2; }
.arrow.square-3 { grid-area: 1 / 3; }
.arrow.square-4 { grid-area: 1 / 4; }
.arrow.square-5 { grid-area: 1 / 5; }
.arrow.square-6 { grid-area: 1 / 6; }
.arrow.square-7 { grid-area: 1 / 7; }
.arrow.square-8 { grid-area: 1 / 8; }
.arrow.square-9 { grid-area: 1 / 9; }
.arrow.square-10 { grid-area: 1 / 10; }

.botoneraGrid {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 7em);/*45em auto 45em;*/
    grid-template-rows: repeat(5, 7em);
    gap: 5px;
    justify-content: center;
    font-size: x-large;
}

.botoneraGrid > * {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    /*border: 1px solid black;*/
    display: inline;
}

.btnCentral {
    grid-column: 1 / span 3;
}

#mensaje {
    font-family: 'Franklin Gothic Medium';
    font-size: 1.66em;
    text-align: center;
    justify-content: center;
}

.arrowUp {
    position: absolute;
    bottom: 50%;
    left: 2.4ex;
    margin-top: 0.2ex;
    margin-bottom: -17%;
    border-left: 5ex solid transparent;
    border-right: 5ex solid transparent;
    border-bottom: 7ex solid #750505;
}

.arrowUp:hover {
    border-bottom: 7ex solid #E61212;
}

.arrowLeft {
    position: absolute;
    right: 50%;
    top: 2.4ex;
    margin-left: 0.2ex;
    margin-right: -17%;
    border-top: 5ex solid transparent;
    border-bottom: 5ex solid transparent;
    border-right: 7ex solid #750505;
}

.arrowLeft:hover {
    border-right: 7ex solid #E61212;
}

.arrowRight {
    position: absolute;
    left: 50%;
    top: 2.4ex;
    margin-right: 0.2ex;
    margin-left: -17%;
    border-top: 5ex solid transparent;
    border-bottom: 5ex solid transparent;
    border-left: 7ex solid #750505;
}

.arrowRight:hover {
    border-left: 7ex solid #E61212;
}

.arrowDown {
    position: absolute;
    top: 50%;
    left: 2.4ex;
    margin-left: 0.2ex;
    margin-top: -17%;
    border-left: 5ex solid transparent;
    border-right: 5ex solid transparent;
    border-top: 7ex solid #750505;
}

.arrowDown:hover {
    border-top: 7ex solid #E61212;
}

.btn {
    cursor: pointer;
}

.Btn-amarillo {
    width: 15ex;
    height: 15ex;
    margin: 0 auto;
    background-color: #FFC300;
    box-shadow: 3px 3px 0 3px #5e4903;
    border: 0.5px solid black;
    border-radius: 50%;
}

.Btn-amarillo:hover {
    background-color: #5e4903;
    box-shadow: 0 0 0 #5e4903;
}

.Btn-rojo {
    width: 15ex;
    height: 15ex;
    margin: auto;
    background-color: #E61212;
    box-shadow: 3px 3px 0 3px #750505;
    border: 0.5px solid black;
    border-radius: 50%;
    position: relative;
}

.Btn-rojo:hover {
    background-color: #750505;
    box-shadow: 0 0 0 #750505;
}

/*tablet-landscape & monitor
@media screen and (min-width: 768px) and (max-width: 2150px) and (orientation:portrait) {

}*/

/*tablet portrait*/
@media screen and (min-width: 480px) and (max-width: 768px) {
    header {
        max-height: 10ex;
        margin-bottom: 2ex;
        font-size: large;
    }

    h2 {
        font-size: medium;
    }

    label {
        width: 50px;
        height: 26px;
        border-radius: 13px;
    }

    label:after {
        top: 1px;
        left: 2px;
        width: 24px;
        height: 24px;
    }

    input[type="checkbox"]:checked + label:after {
        left: 24px;
    }

    .mainContent {
        width: 100%;
        display: flex;
    }

    .botonera {
        max-width: 70%;
    }

    .queue {
        max-width: 30%;
    }

    .botoneraGrid {
        justify-content: center;
        font-size: medium;
    }

    .botoneraGrid > * {
        font-size: medium;
    }

    #directionContainer {
        grid-template-rows: repeat(10, 8ex);
    }

    .square {
        width: 8ex;
        height: 8ex;
    }

    .Btn-amarillo {
        width: 8ex;
        height: 8ex;
        box-shadow: 2px 2px 0 2px #5e4903;
    }

    .Btn-rojo {
        width: 8ex;
        height: 8ex;
        box-shadow: 2px 2px 0 2px #750505;
    }

    .arrowUp {
        left: 1.1ex;
        border-left: 3ex solid transparent;
        border-right: 3ex solid transparent;
        border-bottom: 4ex solid #750505;
    }
    
    .arrowUp:hover {
        border-bottom: 4ex solid #E61212;
    }
    
    .arrowLeft {
        top: 1.1ex;
        border-top: 3ex solid transparent;
        border-bottom: 3ex solid transparent;
        border-right: 4ex solid #750505;
    }
    
    .arrowLeft:hover {
        border-right: 4ex solid #E61212;
    }
    
    .arrowRight {
        top: 1.1ex;
        border-top: 3ex solid transparent;
        border-bottom: 3ex solid transparent;
        border-left: 4ex solid #750505;
    }
    
    .arrowRight:hover {
        border-left: 4ex solid #E61212;
    }
    
    .arrowDown {
        left: 1ex;
        border-left: 3ex solid transparent;
        border-right: 3ex solid transparent;
        border-top: 4ex solid #750505;
    }
    
    .arrowDown:hover {
        border-top: 4ex solid #E61212;
    }

    #mensaje {
        font-size: medium;
    }
}

/*movile-portrait*/
@media screen and (min-width: 389px) and (max-width: 479px) and (orientation:portrait) {
    header {
        max-height: 10ex;
        margin-bottom: 1ex;
        font-size: small;
    }

    h2 {
        font-size: smaller;
    }

    label {
        width: 50px;
        height: 26px;
        border-radius: 13px;
    }

    label:after {
        top: 1px;
        left: 2px;
        width: 24px;
        height: 24px;
    }

    input[type="checkbox"]:checked + label:after {
        left: 25px;
    }

    .botonera {
        max-width: 60%;
        max-height: 480px;
        margin: auto;
    }

    .queue {
        max-width: 40%;
        max-height: 480px;
        flex: auto;
        margin: auto;
    }

    .botoneraGrid {
        justify-content: left;
        font-size: small;
    }

    .botoneraGrid > * {
        font-size: small;
    }

    #directionContainer {
        justify-content: right;
        grid-template-rows: repeat(10, 8ex);
        gap: 0.5ex;
    }

    .square {
        width: 8ex;
        height: 8ex;
    }

    .Btn-amarillo {
        width: 8ex;
        height: 8ex;
        box-shadow: 1.5px 1.5px 0 1.5px #5e4903;
    }

    .Btn-rojo {
        width: 8ex;
        height: 8ex;
        box-shadow: 1.5px 1.5px 0 1.5px #750505;
    }

    .arrowUp {
        left: 1.1ex;
        border-left: 3ex solid transparent;
        border-right: 3ex solid transparent;
        border-bottom: 4ex solid #750505;
    }
    
    .arrowUp:hover {
        border-bottom: 4ex solid #E61212;
    }
    
    .arrowLeft {
        top: 1.1ex;
        border-top: 3ex solid transparent;
        border-bottom: 3ex solid transparent;
        border-right: 4ex solid #750505;
    }
    
    .arrowLeft:hover {
        border-right: 4ex solid #E61212;
    }
    
    .arrowRight {
        top: 1.1ex;
        border-top: 3ex solid transparent;
        border-bottom: 3ex solid transparent;
        border-left: 4ex solid #750505;
    }
    
    .arrowRight:hover {
        border-left: 4ex solid #E61212;
    }
    
    .arrowDown {
        left: 1ex;
        border-left: 3ex solid transparent;
        border-right: 3ex solid transparent;
        border-top: 4ex solid #750505;
    }
    
    .arrowDown:hover {
        border-top: 4ex solid #E61212;
    }

    #mensaje {
        font-size: small;
    }
}

@media screen and (min-width: 281px) and (max-width: 388px) and (orientation:portrait) {
    header {
        max-height: 10ex;
        margin-bottom: 1ex;
        font-size: x-small;
    }

    h2 {
        font-size: x-small;
    }

    label {
        width: 50px;
        height: 26px;
        border-radius: 13px;
    }

    label:after {
        top: 1px;
        left: 2px;
        width: 24px;
        height: 24px;
    }

    input[type="checkbox"]:checked + label:after {
        left: 25px;
    }

    .botonera {
        max-width: 60%;
        max-height: 560px;
    }

    .queue {
        max-width: 40%;
        max-height: 560px;
        flex: auto;
    }

    .botoneraGrid {
        justify-content: left;
        font-size: small;
    }

    .botoneraGrid > * {
        font-size: small;
    }

    #directionContainer {
        justify-content: right;
        grid-template-rows: repeat(10, 8ex);
        gap: 0.5ex;
    }

    .square {
        width: 8ex;
        height: 8ex;
    }

    .Btn-amarillo {
        width: 8ex;
        height: 8ex;
        box-shadow: 1.5px 1.5px 0 1.5px #5e4903;
    }

    .Btn-rojo {
        width: 8ex;
        height: 8ex;
        box-shadow: 1.5px 1.5px 0 1.5px #750505;
    }

    .arrowUp {
        left: 1.1ex;
        border-left: 3ex solid transparent;
        border-right: 3ex solid transparent;
        border-bottom: 4ex solid #750505;
    }
    
    .arrowUp:hover {
        border-bottom: 4ex solid #E61212;
    }
    
    .arrowLeft {
        top: 1.1ex;
        border-top: 3ex solid transparent;
        border-bottom: 3ex solid transparent;
        border-right: 4ex solid #750505;
    }
    
    .arrowLeft:hover {
        border-right: 4ex solid #E61212;
    }
    
    .arrowRight {
        top: 1.1ex;
        border-top: 3ex solid transparent;
        border-bottom: 3ex solid transparent;
        border-left: 4ex solid #750505;
    }
    
    .arrowRight:hover {
        border-left: 4ex solid #E61212;
    }
    
    .arrowDown {
        left: 1ex;
        border-left: 3ex solid transparent;
        border-right: 3ex solid transparent;
        border-top: 4ex solid #750505;
    }
    
    .arrowDown:hover {
        border-top: 4ex solid #E61212;
    }

    #mensaje {
        font-size: small;
    }
}